<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="sonata" class="com.example.Sonata"></bean>
	<bean id="carnival" class="com.example.Carnival"></bean>
	<bean id="hybridCar" class="com.example.HybridSonata"></bean><!-- Class당 한개씩 bean -->
</beans>
