<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.vo.UserVO">
	<resultMap id="userVOResult" type="userVO">
		<result property="userid" column="userid" />
		<result property="name" column="name" />
		<result property="gender" column="gender" />
		<result property="city" column="city" />
		<!-- ClassVO의 변수			DB의 컬럼명 -->
	</resultMap>
	
	<select id="readAll" resultMap="userVOResult" resultType="userVO"><!-- 쟤 id,type -->
		SELECT * FROM Users ORDER BY userid DESC
	</select>
	
	<select id="read" parameterType="String" resultType="userVO" resultMap="userVOResult">
		SELECT * FROM Users WHERE userid = #{userid}
	</select>
	
	<insert id="insert" parameterType="userVO">
		INSERT INTO Users VALUES(#{userid},#{name},#{gender},#{city})
	</insert>
	
	<update id="update" parameterType="userVO">
		UPDATE Users SET city=#{city} WHERE userid=#{userid}
	</update>
	
	<delete id="delete" parameterType="String">
		DELETE FROM Users WHERE userid = #{userid}
	</delete>
	
</mapper>